* {
    
    margin-bottom: 20px;
    margin-top: 20px;
}

body {
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    font-size: 30px;
}

li {
    font-weight: lighter;
    font-size: 15px;
    margin: auto;
}

h2, p {
    margin-left: 10px;
    margin-right: 10px;
}

#intro {
    font-size: 15px;
    font-family: 'Times New Roman';
}

#odin {
    display: block;
    margin: 0 auto;
    border-radius: 10%;
    height: auto;
    width: 35%;  
}

#recipes {
    text-align: center;
}

.list{
    display: flex;
    list-style: none;
}

.list-name {
    background: white;
    padding: .5em;
    border-radius: 1em;
}

.list.steps{
    display: inline-block;
    text-align: left;
}

.name {
    font-size: 400%;
}

button {
    margin: auto;
}

/* chicken-tacos, lasagna, and mac-and-cheese */

#tacos, #lasagna, #mac {
    height: auto;
    width: 380px;
    border-radius: 5%;
    margin: auto;
    display: block;
}