body {
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2, li, p {
    font-size: 30px;
}


#odin {
    margin: auto;
    display: block;
    border-radius: 5%;
    height: auto;
    width: 50%;  
}

#recipes {
    text-align: center;
}

.list{
    display: inline;
    text-align: center;
}

.list.steps{
    display: inline-block;
    text-align: left;
}

.name {
    font-size: 400%;
}


/* chicken-tacos */

#tacos, #lasagna, #mac {
    height: auto;
    width: 380px;
    border-radius: 5%;
    margin: auto;
    display: block;
}