body {
    background-color: lightgray;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: auto;
}

h1 {
    text-align: center;
    font-size: 80px;
}

h2 {
    font-size: 30px;
}

li, p {
    font-weight: lighter;
    font-size: 25px;
}

#intro {
    margin-left: 10%;
    margin-right: 10%;
    font-size: 15px;
    font-family: 'Times New Roman';
}

#odin {
    margin: auto;
    display: block;
    border-radius: 5%;
    height: auto;
    width: 35%;  
}

#recipes {
    text-align: center;
}

.list{
    display: inline;
    text-align: center;
}

.list.steps{
    display: inline-block;
    text-align: left;
}

.name {
    font-size: 400%;
}


/* chicken-tacos, lasagna, and mac-and-cheese */

#tacos, #lasagna, #mac {
    height: auto;
    width: 380px;
    border-radius: 5%;
    margin: auto;
    display: block;
}